
<style>p{color:blue;}</style>
{{#if details.page}}
<span class ="p-value"> Pages </span>
{{#each details.page as |page index|}}
  {{#if page.title}}
  <div class="details-container">
      <span class="p-action" {{action "togglePgVisibility" index}}>
          {{#if (get showPgDetails index)}}Hide{{else}}View{{/if}} {{page.title}}
          {{fa-icon (if (get showPgDetails index) "caret-up" "caret-down")}}
      </span>
      {{#if (get showPgDetails index)}}
        <div>
      <h1 class="p-title">
            {{fa-icon "ticket" fixedWidth=true}}
            <a class="p-link" href ="{{details.url}}{{page._links.webui}}">
                View Page in Confluence
                {{fa-icon "external-link" fixedWidth=true}}
            </a>
      </h1>
     </div>
      <div>
            <span class="p-key"> Title: </span>
            <span class ="p-value">{{page.title}}</span>
      </div>
      <div>
            <span class="p-key"> Id: </span>
            <span class ="p-value">{{page.id}}</span>
      </div>
      <div>
            <span class="p-key"> Status: </span>
            <span class ="p-value">{{page.status}}</span>
      </div>
      <div>
            <span class="p-key"> Space: </span>
            <span class ="p-value">{{page.space.name}}</span>
      </div>
      <div>
            <span class="p-key"> Last Updated Date: </span>
            <span class ="p-value">{{page.history.lastUpdated.friendlyWhen}}</span>
      </div>
      <div>
            <span class="p-key"> Last Updated By: </span>
            <span class ="p-value">{{page.history.lastUpdated.by.displayName}}</span>
      </div>
      <div>
            <span class="p-key"> Email: </span>
            <span class ="p-value">{{page.history.lastUpdated.by.email}}</span>
      </div>
      <div>
      <button class ="p-value"><a href ="{{details.draft}}{{page.id}}"><p>Edit Content</p></a></button>
      <button {{action "togglePgBody" index}}><p><strong>Show Content</strong></p></button>
          {{#if (get showPgBody index)}}
          <pre>{{{page.body.storage.value}}}</pre>
          {{/if}}
        </div>
        {{/if}}
      </div>

{{/if}}
{{/each}}
<hr/>
{{/if}}

{{#if details.blog}}
<span class="p-value"> Blogs </span>
{{#each details.blog as |blog index|}}
    {{#if blog.title}}
    <div class="details-container">
        <span class="p-action" {{action "toggleBgVisibility" index}}>
            {{#if (get showBgDetails index)}}Hide{{else}}View{{/if}} {{blog.title}}
            {{fa-icon (if (get showBgDetails index) "caret-up" "caret-down")}}
        </span>
        {{#if (get showBgDetails index)}}
        <div>
          <h1 class="p-title">
                {{fa-icon "ticket" fixedWidth=true}}
                <a class="p-link" href ="{{details.url}}{{blog._links.webui}}">
                    View Blog in Confluence
                    {{fa-icon "external-link" fixedWidth=true}}
                </a>
          </h1>
       </div>
        <div>
              <span class="p-key"> Title: </span>
              <span class ="p-value">{{blog.title}}</span>
        </div>
        <div>
              <span class="p-key"> Id: </span>
              <span class ="p-value">{{blog.id}}</span>
        </div>
        <div>
              <span class="p-key"> Status: </span>
              <span class ="p-value">{{blog.status}}</span>
        </div>
        <div>
              <span class="p-key"> Space: </span>
              <span class ="p-value">{{blog.space.name}}</span>
        </div>
        <div>
              <span class="p-key"> Last Updated Date: </span>
              <span class ="p-value">{{blog.history.lastUpdated.friendlyWhen}}</span>
        </div>
        <div>
              <span class="p-key"> Last Updated By: </span>
              <span class ="p-value">{{blog.history.lastUpdated.by.displayName}}</span>
        </div>
        <div>
              <span class="p-key"> Email: </span>
              <span class ="p-value">{{blog.history.lastUpdated.by.email}}</span>
        </div>
        <div>
        <button class ="p-value"><a href ="{{details.draft}}{{blog.id}}"><p>Edit Content</p></a></button>
        <button {{action "toggleBgBody" index}}><p><strong>Show Content</strong></p></button>
            {{#if (get showBgBody index)}}
            <pre>{{{blog.body.storage.value}}}</pre>
            {{/if}}
          </div>
          {{/if}}
        </div>
  {{/if}}
{{/each}}
{{/if}}
